#!/usr/bin/env python
#
# (View definition for)
# building and pre-processing model with merged import in python.
#

import yaml
import subprocess

def read_file(file: str) -> str:
    with open(file, "r") as file_obj:
        file_contents = file_obj.read()
    return file_contents

## Parameters

parameters = []
{% for parameter in parameters %}
### {{ parameter.description }}

parameter = {}
parameter["description"] = "{{ parameter.description }}"
parameter["variable"] = "{{ parameter.variable }}"
parameter["value"] = {{ parameter.value }}
parameter["unit"] = "{{ parameter.unit }}"
parameters.append(parameter)
{% endfor %}

## Constants

constants = []
{% for constant in constants %}
### {{ constant.description }}

constant = {}
constant["description"] = "{{ constant.description }}"
constant["variable"] = "{{ constant.variable }}"
constant["value"] = {{ constant.value }}
constant["unit"] = "{{ constant.unit }}"
constants.append(constant)
{% endfor %}

## Assumptions

assumptions = []
{% for assumption in assumptions %}
assumptions.append("{{ assumption }}")
{% endfor %}

## Analysis to be performed
analysis = []
{% for computation in analysis %}

### Merge import
{% if computation.import %}
computation = {}
### load contents of {{ import }} and append to analysis
import_element_split_on_colon = "{{ computation.import }}".split(":")
cli_applet = import_element_split_on_colon[0]
element_path = import_element_split_on_colon[1]
subprocess_result = subprocess.run(['npm', 'exec', '--', cli_applet, element_path], capture_output=True, text=True)
imported_contents = subprocess_result.stdout
computation = yaml.safe_load(imported_contents)
{% if 'solveFor' in computation %}
computation["solveFor"] = {}
{% for quantifiable_element_name, quantifiable_element_item in computation.solveFor %}
computation["solveFor"]["{{ quantifiable_element_name }}"] = "{{ quantifiable_element_item }}"
{% endfor %}
{% endif %}
analysis.append(computation)

{% endif %}

{% if 'description' in computation %}
computation = {}
computation["description"] = "{{ computation.description }}"
computation["variable"] = "{{ computation.variable }}"
computation["expression"] = "{{ computation.expression }}"
{% if 'unit' in computation %}
computation["unit"] = "{{ computation.unit }}"
{% endif %}
analysis.append(computation)
{% endif %}

{% endfor %}

## comments

comments = []
{% for comment in comments %}
comments.append("{{ comment }}")
{% endfor %}

## references

references = []
{% for reference in references %}
references.append("{{ reference }}")
{% endfor %}

## Other string fields
description = r"""{{ description }}"""
problem_statement_txt = r"""{{ problem_statement_txt }}"""
schematic_txt = r"""{{ schematic_txt }}"""

model_with_merged_import = {
"description": description,
"problem_statement_txt": problem_statement_txt,
"assumptions": assumptions,
"parameters": parameters,
"constants": constants,
"schematic_txt": schematic_txt,
"analysis": analysis,
"comments": comments,
"references": references
}

print(yaml.dump(model_with_merged_import, indent=2))

