#!/usr/bin/env python
#
# (View definition for)
# performing initial-boundary value problem in python
#
# References:
# - Fundamentals of Heat and Mass Transfer, 6e, p.261-263
#

from numpy import *
from scipy.special import *
from astropy.units import *
from sympy import sympify, latex
from scipy.interpolate import interp1d
import json

# Define dimensionless unit for use with astropy
dimensionless = dimensionless_unscaled

## Parameters

{% for parameter in parameters %}
### {{ parameter.description }}
{{ parameter.variable }} = {{ parameter.value }} * {{ parameter.unit }}
{% endfor %}

## Constants

{% for constant in constants %}
### {{ constant.description }}
{{ constant.variable }} = {{ constant.value }} * {{ constant.unit }}
{% endfor %}

## Assumptions

assumptions = []
{% for assumption in assumptions %}
assumptions.append("{{ assumption }}")
{% endfor %}


## comments

comments = []
{% for comment in comments %}
comments.append("{{ comment }}")
{% endfor %}

## references

references = []
{% for reference in references %}
references.append("{{ reference }}")
{% endfor %}

## Other string fields
description = f"""{{ description }}"""
schematic_txt = f"""{{ schematic_txt }}"""

analysis_results = {
"description": description,
"problem_statement_txt": "",
"assumptions": assumptions,
"schematic_txt": schematic_txt,
"results": [],
"comments": comments,
"references": references
}

## Perform initial-boundary value problem

{% for computation in analysis %}
### {{ computation.description }}
{{ computation.variable }} = {{ computation.expression }}
{% if computation.unit %}
{{ computation.variable }} = {{ computation.variable }}.to({{ computation.unit }})
{% endif %}
computation_list_item = {
    "description": "",
    "computation": "",
}
description = "{{ computation.description }}"
try:
    latex_expression = "${}$".format(latex(sympify("{{ computation.expression }}")))
except:
    latex_expression = "{{ computation.expression }}"

try:
    computation_result = "{:latex}".format({{ computation.variable }})
except:
    computation_result = {{ computation.variable }}
computation = "{{ computation.variable }} = {0} = {1}".format(latex_expression, computation_result)
computation_list_item["description"] = description
computation_list_item["computation"] = computation
analysis_results["results"].append(computation_list_item)
{% endfor %}

problem_statement_txt = f"""{{ problem_statement_txt }}"""
analysis_results["problem_statement_txt"] = problem_statement_txt

print(json.dumps(analysis_results, indent=2))

